<nav class="bg-white shadow-sm fixed w-full">
  <div class="flex flex-wrap items-center justify-between mx-auto h-14 px-5">
    <a href="/" class="flex items-center">
      <img src="assets/logos/logo-dark.svg" class="h-8" alt="Slots logo" />
    </a>
    <div class="block w-auto">
      <ul
        class="font-medium flex p-0 border-gray-100 rounded-lg flex-row mt-0 border-0 bg-white"
      >
        <li>
          <button
            class="flex items-center gap-1 bg-primary/[.1] hover:bg-primary/[.18] px-3 py-1 text-primary rounded-md"
          >
            <span class="material-symbols-outlined text-xl font-medium">
              add
            </span>
            <span class="text-sm font-button font-bold"> Calendar </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
