<div class="px-4 py-2">
  <div class="flex gap-2 justify-between items-center flex-wrap pb-2 px-1">
    <h1 class="font-heading text-lg font-bold text-dark">My Calendars</h1>
    <div>
      <input
        name="search"
        type="text"
        autocomplete="search"
        placeholder="Search..."
        class="block w-64 rounded-3xl border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
      />
    </div>
  </div>
  <app-calendar-list />
</div>
