<div
  class="rounded-md shadow-sm bg-white cursor-pointer"
  (click)="onClickCard()"
>
  <div class="rounded-md p-4" [style.backgroundColor]="calendar.color + '0D'">
    <div class="flex justify-between items-start mb-3">
      <app-avatar-stack
        [avatars]="getAvatars()"
        [color]="calendar.color"
        (clickAddNew)="onClickAddNewParticipants()"
        (clickShowAll)="onClickShowAllParticipants()"
      />

      <div>
        <button
          [cdkMenuTriggerFor]="menuComponent.menu"
          (click)="onToggleMenu($event)"
        >
          <span
            class="material-symbols-outlined font-bold"
            [style.color]="calendar.color"
          >
            more_horiz
          </span>
        </button>

        <app-menu
          #menuComponent
          [items]="menuItems"
          (clickItem)="onClickMenuItem($event)"
        ></app-menu>
      </div>
    </div>
    <h2 class="text-lg font-bold font-heading text-dark">
      {{ calendar.title }}
    </h2>
    <p
      class="text-sm pt-1 font-medium font-body"
      [style.color]="calendar.color"
    >
      {{ calendar.startDate | date : 'dd MMM' }} -
      {{ calendar.endDate | date : 'dd MMM' }}
    </p>
  </div>
</div>
