<div class="flex -space-x-5">
  <app-avatar
    *ngFor="let avatar of getAvatars()"
    [imageUrl]="avatar.imageUrl"
    [imageAlt]="avatar.imageAlt"
  />
  <a
    *ngIf="avatars.length > maxLength"
    class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-dark border-2 border-white rounded-full hover:bg-gray-600"
    href="#"
    >+{{ avatars.length - maxLength }}
  </a>

  <button
    *ngIf="avatars.length <= 0"
    class="flex items-center justify-center w-10 h-10 font-medium bg-white border-2 border-white rounded-full"
    [class.text-dark]="!color"
  >
    <span
      class="material-symbols-outlined text-xl font-medium"
      [style.color]="color"
    >
      person_add
    </span>
  </button>
</div>
