<aside
  class="fixed top-0 left-0 z-30 bg-white shadow-md w-14 h-screen transition-transform translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full py-14 overflow-y-auto flex items-center justify-center">
    <ul class="flex flex-col gap-5">
      <li class="flex justify-center mb-4">
        <app-avatar
          imageUrl="https://placekitten.com/200/200"
          imageAlt="Profile photo"
          [size]="3"
        />
      </li>
      <li class="flex justify-center">
        <a
          [routerLink]="['/calendars']"
          [routerLinkActive]="
            'bg-primary/[.1] hover:bg-primary/[.18] text-primary'
          "
          class="flex justify-center items-center gap-1 h-9 w-9 rounded-md"
        >
          <span class="material-symbols-outlined text-xl font-medium">
            home
          </span>
        </a>
      </li>
      <li class="flex justify-center">
        <a class="flex justify-center items-center h-9 w-9 bg-white hover:bg-gray-100 text-gray-600 rounded-md">
          <span class="material-symbols-outlined text-xl font-medium">
            calendar_month
          </span>
        </a>
      </li>
      <li class="flex justify-center">
        <a
          class="flex justify-center items-center h-9 w-9 bg-white hover:bg-gray-100 text-gray-600 rounded-md"
        >
          <span class="material-symbols-outlined text-xl font-medium">
            groups
          </span>
        </a>
      </li>
    </ul>
  </div>
</aside>
