<aside
  class="fixed top-0 left-0 z-30 bg-white shadow-md w-14 h-screen transition-transform translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full py-14 overflow-y-auto flex items-center justify-center">
    <ul class="flex flex-col gap-5">
      <li class="flex justify-center mb-4">
        <app-avatar
          imageUrl="https://placekitten.com/200/200"
          imageAlt="Profile photo"
          [size]="3"
        />
      </li>
      <li *ngFor="let item of sidebarItems" class="flex justify-center">
        <a
          [routerLink]="[item.path]"
          [routerLinkActive]="'active'"
          [title]="item.title"
          class="flex justify-center items-center gap-1 h-9 w-9 rounded-md bg-white hover:bg-gray-100 text-gray-600"
        >
          <span class="material-symbols-outlined text-xl font-medium">
            {{ item.icon }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</aside>
